.footer {
  display: flex;
  justify-content: space-between;
  color: #555;
  background-color: #e8e8e8;
  padding: 5px 25px;
  box-sizing: border-box;
  height: 23px;
  line-height: 13px;
  font-size: 9px;
  font-weight: 600;
  -ms-grid-row: 3;
}
